<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Error 404</title>
</head>

<body>
	<h1 style="text-align: center;"><span style="color: #000080;"><strong>Error 404</strong></span></h1>
	<h1 style="text-align: center;"><span style="color: #000080;"><strong>Page Not Found</strong></span></h1>
</body>

</html>