<%- include ./../layouts/header.ejs %>  

<!-- banner crousel start -->
<section class="banner-short">
    <h1>Create Account</h1>
</section>
<!-- banner crousel end -->
<!-- registraion start  -->
<section class="registration">
    <section class="container bg-gray">
        <section class="registration-container">
            <header class="text-center"><h4 class="main-heading-center">Are You!</h4></header>
            <section class="text-center">
                <ul class="reg-tab">
                    <li><a href="/register/teacher"><span class="icon-teacher gray-style"> </span><p>Teacher</p></a></li>
                    <li><a href="/register/student"><span class="icon-student gray-style"> </span><p>Student</p></a></li>
                </ul>
            </section>
        </section>
    </section>
</section>
<!-- registraion end  -->
<section class="clearfix">&nbsp;</section>
<section class="clearfix">&nbsp;</section>
<section class="clearfix">&nbsp;</section>

<%- include ./../layouts/footer.ejs %>