<%- include ./../layouts/header.ejs %>
    
<!-- banner crousel start -->
<section class="banner-short">
    <h1>Reset Password</h1>
</section>
<!-- banner crousel end -->

<!-- Login start  -->
<section class="Login">

    <section class="clearfix">&nbsp;</section>
    <section class="clearfix">&nbsp;</section>
			
		<% if(type==false){ %>
			<div class="alert alert-danger" style="text-align:center" role="alert">
				Invalid Activation code 
			</div>
		<% }else{ %>
		<div ng-app='reset'>
			 <form ng-submit="submit_form()" ng-controller="resetController" method="post">
				<section class="container" id="login-form">
					<section class="col-md-5 col-md-offset-4">
						<header class="text-center"><h4 class="login-heading-sub">Reset Password</h4></header>
						<ul class="col-xs-12 list-unstyled nopadding">
							<li class="col-md-12 col-sm-12 col-xs-12">
								<p class="form-white-box">
									<input class="input-full" type="password" name="password" placeholder="New Password" required  ng-model="Subdata.password"  />
								</p>
							</li>
							
							<li class="col-md-12 col-sm-12 col-xs-12">
								<p class="form-white-box">
									<input class="input-full" type="password" name="confirm_password" placeholder="Confirm Password" required ng-model="Subdata.confirm_password"  />
									<div class="reset_msg" style="padding-left:0px;">{{message}} </div>
								</p>
							</li>
							<li class="col-sm-12 col-xs-12 text-center"><input type="submit" value="Submit" name="login" class="org-btn" /></li>
						</ul>
					</section>
				</section>
			</form>
		</div>	
		<% } %>
</section>


<section class="clearfix">&nbsp;</section>
<section class="clearfix">&nbsp;</section>
<section class="clearfix">&nbsp;</section>

<script>
var app = angular.module('reset', []);
app.controller('resetController', function ($scope, $http, $timeout , $window) {
	$scope.submit_form = function()
	{
		if( $scope.Subdata.password !=  $scope.Subdata.confirm_password )
		{
			$scope.message = 'Password do not match';
			$(".reset_msg").css('color','#AE7772');
			return false;
		}
		else
		{
			$scope.message = '';
		}
		$scope.Subdata.code= '<%= verification_code %>';
		
		$http({
				url: "/register/reset_password",
				method: "POST",
				headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				data: $.param($scope.Subdata)
			}).then(function (response){
				if(response.data.status==false )
				{
					$scope.message = response.data.data;
					$(".reset_msg").css('color','#AE7772');
					$timeout(function () { $scope.message = '';}, 8000);
				}
				else if(response.data.status==true )
				{
					$scope.Subdata.password = '';
					$scope.Subdata.confirm_password = '';
				
					$scope.message = response.data.data;
					$(".reset_msg").css('color','green');
					
					$timeout(function () 
					{ 
						$window.location.href = '/login';
					}, 4000);
				}
				
				
			});
	}
});
</script>
<%- include ./../layouts/footer.ejs %>