<%- include ./../layouts/header.ejs %>
<!-- banner crousel start -->
<section class="banner-short">
    <h1>Success</h1>
</section>
<!-- banner crousel end -->
<!-- registraion start  -->
<section class="registration page_design">
     You have been sucessfully registered, please check your email to validate your account
</section>
<!-- registraion end  -->
<section class="clearfix">&nbsp;</section>
<%- include ./../layouts/footer.ejs %>