<%- include ./../layouts/header.ejs %>

<!-- inner-submenu-container start -->
<section class="search-tutor-widget-container">
    <section class="container">
        <form method="post">
        <div class="col-xs-12 text-center">
            <label for="your-search">Your Search</label>
            <input type="text" class="search-tutor-input-text" placeholder="Match, English" />
            <!-- <input type="submit" class="glyphicon glyphicon-search search-tutor-input-submit" value="" /> -->
            <button type="submit" class="search-tutor-input-submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
            </button>
        </div>
            <hr class="col-xs-12" />
        <div class="col-xs-12">
            <label>Filter By:</label>
            <select class="search-tutor-sm-select">
                <option value="0">Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
            <select class="search-tutor-sm-select">
                <option value="0">Subject</option>
                <option value="1">Math</option>
                <option value="2">Scince</option>
                <option value="3">Commarch</option>
                <option value="4">Arts</option>
                <option value="5">History</option>
            </select>
            <select class="search-tutor-sm-select">
                <option value="0">Rating </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select class="search-tutor-sm-select">
                <option value="0">Time-zone</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select class="search-tutor-sm-select">
                <option value="0">Online &amp; offline</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span class="sm-txt">Ready to teach now</span>
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>

        </form>
    </section>
</section>
<!-- inner-submenu-container end -->

<!-- registraion start  -->
<section class="search-tutor-container">
    <section class="container">
        <header><h2 class="col-sm-12 main-heading">Search Result</h2></header>
        <div class="tuter-details-search-box">
            <div class="tuter-details-image">
                <img src="/images/tuter01-img-midbig.jpg" class="pull-left" alt=""/>
                <a href="javascript:void(0)" class="more-details">View More</a>
            </div>
            <div class="tuter-search-details">
                <h6>Alex Martin<span><strong>10.6</strong>/hrs</span></h6>
                <div class="tuter-stars text-left">
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star-empty pull-left"></span>

                    <span class="tuter-stars-txt">Review: <strong class="org-link">120</strong></span>

                </div>
                <p>Professor of jamia University</p>
                <p><span class="glyphicon glyphicon-phone pull-left"></span> 9856892147</p>
                <p>
                    <span class="pull-left">Start From 340/hrs<br /> <button type="submit" class="btn btn-default first">Send Message</button></span>
                    <span class="pull-left">Taugh 60/hrs<br /> <button type="submit" class="btn btn-default">Request A Session</button></span>
                </p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="tuter-details-search-box">
            <div class="tuter-details-image">
                <img src="/images/tuter02-img-midbig.jpg" class="pull-left" alt=""/>
                <a href="javascript:void(0)" class="more-details">View More</a>
            </div>
            <div class="tuter-search-details">
                <h6>Alex Martin<span><strong>10.6</strong>/hrs</span></h6>
                <div class="tuter-stars text-left">
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star-empty pull-left"></span>

                    <span class="tuter-stars-txt">Review: <strong class="org-link">120</strong></span>

                </div>
                <p>Professor of jamia University</p>
                <p><span class="glyphicon glyphicon-phone pull-left"></span> 9856892147</p>
                <p>
                    <span class="pull-left">Start From 340/hrs<br /> <button type="submit" class="btn btn-default first">Send Message</button></span>
                    <span class="pull-left">Taugh 60/hrs<br /> <button type="submit" class="btn btn-default">Request A Session</button></span>
                </p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="tuter-details-search-box">
            <div class="tuter-details-image">
                <img src="/images/tuter01-img-midbig.jpg" class="pull-left" alt=""/>
                <a href="javascript:void(0)" class="more-details">View More</a>
            </div>
            <div class="tuter-search-details">
                <h6>Alex Martin<span><strong>10.6</strong>/hrs</span></h6>
                <div class="tuter-stars text-left">
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star-empty pull-left"></span>

                    <span class="tuter-stars-txt">Review: <strong class="org-link">120</strong></span>

                </div>
                <p>Professor of jamia University</p>
                <p><span class="glyphicon glyphicon-phone pull-left"></span> 9856892147</p>
                <p>
                    <span class="pull-left">Start From 340/hrs<br /> <button type="submit" class="btn btn-default first">Send Message</button></span>
                    <span class="pull-left">Taugh 60/hrs<br /> <button type="submit" class="btn btn-default">Request A Session</button></span>
                </p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="tuter-details-search-box">
            <div class="tuter-details-image">
                <img src="/images/tuter02-img-midbig.jpg" class="pull-left" alt=""/>
                <a href="javascript:void(0)" class="more-details">View More</a>
            </div>
            <div class="tuter-search-details">
                <h6>Alex Martin<span><strong>10.6</strong>/hrs</span></h6>
                <div class="tuter-stars text-left">
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star-empty pull-left"></span>

                    <span class="tuter-stars-txt">Review: <strong class="org-link">120</strong></span>

                </div>
                <p>Professor of jamia University</p>
                <p><span class="glyphicon glyphicon-phone pull-left"></span> 9856892147</p>
                <p>
                    <span class="pull-left">Start From 340/hrs<br /> <button type="submit" class="btn btn-default first">Send Message</button></span>
                    <span class="pull-left">Taugh 60/hrs<br /> <button type="submit" class="btn btn-default">Request A Session</button></span>
                </p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="tuter-details-search-box">
            <div class="tuter-details-image">
                <img src="/images/tuter01-img-midbig.jpg" class="pull-left" alt=""/>
                <a href="javascript:void(0)" class="more-details">View More</a>
            </div>
            <div class="tuter-search-details">
                <h6>Alex Martin<span><strong>10.6</strong>/hrs</span></h6>
                <div class="tuter-stars text-left">
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star-empty pull-left"></span>

                    <span class="tuter-stars-txt">Review: <strong class="org-link">120</strong></span>

                </div>
                <p>Professor of jamia University</p>
                <p><span class="glyphicon glyphicon-phone pull-left"></span> 9856892147</p>
                <p>
                    <span class="pull-left">Start From 340/hrs<br /> <button type="submit" class="btn btn-default first">Send Message</button></span>
                    <span class="pull-left">Taugh 60/hrs<br /> <button type="submit" class="btn btn-default">Request A Session</button></span>
                </p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="tuter-details-search-box">
            <div class="tuter-details-image">
                <img src="/images/tuter02-img-midbig.jpg" class="pull-left" alt=""/>
                <a href="javascript:void(0)" class="more-details">View More</a>
            </div>
            <div class="tuter-search-details">
                <h6>Alex Martin<span><strong>10.6</strong>/hrs</span></h6>
                <div class="tuter-stars text-left">
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star pull-left"></span>
                    <span class="glyphicon glyphicon-star-empty pull-left"></span>

                    <span class="tuter-stars-txt">Review: <strong class="org-link">120</strong></span>

                </div>
                <p>Professor of jamia University</p>
                <p><span class="glyphicon glyphicon-phone pull-left"></span> 9856892147</p>
                <p>
                    <span class="pull-left">Start From 340/hrs<br /> <button type="submit" class="btn btn-default first">Send Message</button></span>
                    <span class="pull-left">Taugh 60/hrs<br /> <button type="submit" class="btn btn-default">Request A Session</button></span>
                </p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="clear">&nbsp;</div>
        <a href="javascript:void(0)" class="load-more">Load More...</a>
    </section>
</section>
<!-- registraion end  -->


<%- include ./../layouts/footer.ejs %>