<%- include ./../layouts/header.ejs %>
<!-- banner crousel start -->
<section class="banner-short">
    <h1><%= data.page_name %> </h1>
</section>
<!-- banner crousel end -->
<!-- registraion start  -->
<section class="registration page_design">
     <%= data.page_description %>
</section>
<!-- registraion end  -->
<section class="clearfix">&nbsp;</section>
<%- include ./../layouts/footer.ejs %>